*{
    margin: 0;
    padding: 0;
}

#title_container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}


.item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 7.5vh;
    text-align: center;
    background-color: #4BAF5A;
    border-radius: 25px;
    color: white;
    vertical-align: center;
}