*{
    font-family: 'Raleway', sans-serif;
}

#title_container{
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
    font-weight: 200;
}

#title_container p{
    font-size: 1.5em;
}


.item{
    font-weight: 400;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height: 7.5vh;
    text-align: center;
    background-color: #4BAF5A;
    border-radius: 25px;
    color: white;
    vertical-align: center;
}

.item:nth-child(1){
    background-color: #d6a620;
}
.item:nth-child(2){
    background-color: #94928d;
}
.item:nth-child(3){
    background-color: #804421;
}

.item span{
    font-weight: 700;
}